# /etc/systemd/system/adbmonitor.service
[Unit]
Description=ADB Monitor
After=network.target

[Service]
ExecStart=/usr/local/bin/adb-monitor
User=adbmonitor
Group=adbmonitor
WorkingDirectory=/tmp/
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target